{% url 'home' as home_url %}
{% url 'contact' as contact_url %}
{% url 'products' as products_url %}
{% url 'login' as login_url %}

<nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
  <div class="container">

    <a class="navbar-brand" href="#"><span style="color:lightcoral;">{% if brand_name  %} {{ brand_name }} {% else %} no brand found {% endif %}</span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item {% if request.path is home_url %} active {% endif %}">
          <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item {% if request.path is contact_url %} active {% endif %}">
          <a class="nav-link" href="{% url 'contact' %}">Contact</a>
        </li>
        <li class="nav-item {% if request.path is products_url %} active {% endif %}">
          <a class="nav-link" href="{% url 'products' %}">Products</a>
        </li>
        {% if request.user.is_authenticated %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}">Logout</a>
          </li>
        {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'register' %}">Register</a>
            </li>
        {% endif %}
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>





  </div>
    
  </nav>
