{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class= 'text-center'>
    <h1>{{ title }}</h1>
    <h5>Hello, World we're working!</h5>
    </div>

    <div class="container">
        <div class="row" >
            <div class="col" >
               <p>{{ content }}</p>
               <div class="col-sm-6 col-12">

                    <form method="POST"> {% csrf_token %}
                        {{ form }}
                        <button type="submit" class="btn btn-success mt-2">Submit</button>
                    </form>


                    <!-- <form action="" method="POST">
                        {% csrf_token %}
                        <input type="text" class="form-control" placeholder="Name" name="fullname">
                        <input type="email" class="form-control" placeholder="Email" name="email">
                        <textarea name="content" class="form-control" placeholder="Your Content" cols="30" rows="10"></textarea>
                        <button type="submit" class="btn btn-success mt-2">Submit</button>
                    </form> -->
               </div>
               
            </div>
        </div>
    </div>

{% endblock %}

