{% extends 'base.html' %}
{% load static %}


{% block content %}
    <div class= 'text-center'>
        <h1>{{ title }} <span style="color:lightcoral;">eCommerce</span></h1>
        <h5>Hello, World we're working!</h5>
        </div>

        <div class="container">
            <div class="row" >
                <div class="col" >
                <p>{{ content }}</p>
                </div>
            </div>

            {% if premeum_content %}
            <div class="row">
                <div class="col">
                    <h1>Premium</h1>
                    {{ premeum_content }}
                </div>
            </div>
            {% endif %}
        </div>

        

{% endblock %}

